@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'TitilliumThin';
    src: url('../fonts/TitilliumText22L001-webfont.eot');
    src: url('../fonts/TitilliumText22L001-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L001-webfont.svg#webfontY46BzlYn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumLight';
    src: url('../fonts/TitilliumText22L002-webfont.eot');
    src: url('../fonts/TitilliumText22L002-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L002-webfont.svg#webfontWLF9Q09S') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumRegular';
    src: url('../fonts/TitilliumText22L003-webfont.eot');
    src: url('../fonts/TitilliumText22L003-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L003-webfont.svg#webfontiXtJn0Qu') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumMedium';
    src: url('../fonts/TitilliumText22L004-webfont.eot');
    src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L004-webfont.svg#webfontd3ljp2K0') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumBold';
    src: url('../fonts/TitilliumText22L005-webfont.eot');
    src: url('../fonts/TitilliumText22L005-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L005-webfont.svg#webfontZL0yA7s8') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumXBold';
    src: url('../fonts/TitilliumText22L006-webfont.eot');
    src: url('../fonts/TitilliumText22L006-webfont.eot?#iefix') format('eot'),
         url('../fonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L006-webfont.svg#webfontDGZcY3kb') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* INFOSCREEN EDITING
#loser{
    z-index: 10000000 !important;
    }
*/

*{
    margin: 0;
    padding: 0;
    }
    
body{
    color: #FFF;
    font-family: TitilliumRegular, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow: hidden;
    }
    
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}

.item{
    position: absolute;
    z-index: 2;
    color: #FFF;    
    background-color: #000;
    opacity: 0.2;
    font-family: TitilliumXBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    font-size: 16px;
    cursor: pointer;
    }

#playpause{
    top: 30px;
    right: 65px;
    width: 102px;
    padding: 2px 3px 2px 7px;
    }
    
#playpause:hover{
    opacity: 0.4;
    }
    
#stopmusic{
    top: 30px;
    right: 35px;
    width: 15px;
    padding: 2px 3px 2px 7px;
    }
    
#stopmusic:hover{
    opacity: 0.4;
    }
    
#menu{
    text-align: right;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    
    position: absolute;
    top: 60px;
    right: 65px;
    width: 102px;
    padding: 7px 10px 7px 0;
    
    background-color: #000;
    opacity: 0.4;
    display: none;
    }

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    opacity: 0.0;
    display: none;
    }

#points {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 2;
    opacity: 0.4;
    color: #000;
    cursor: default;
    }

#points span{
    margin-left: 6px;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    }
    
#multiplier{
    background-color:#000;
    opacity: 0.4;
    width: 230px;
    margin: 20px auto 0px;
    padding-top:6px;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    text-align: center;
    color:#fff;
    font-size:26px;
    cursor: default;
    }
    
#multipliercooldown {
    background-color:#AA0;
    height: 10px;
    width: 100%;
    }

.rounded{
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    
.info{
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    width: 500px;
    margin: 10% auto 0 auto;
    left: 0;
    right: 0;
    padding: 25px 25px 40px 30px;
    display: none;
    z-index: 2;
    }

.info h2{
    font-family: TitilliumXBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    }
    
.info h2#score{
    font-size: 70px;
    }
    
.info p{
    font-size: 16px;
    margin-bottom: 16px;
    }

.info p.list{
    margin-bottom: 2px;
    line-height:30px;
    }

.close{
    width: 11px;
    height: 11px;
    margin-right: 8px;
    padding: 5px;
    float: right;
    cursor: pointer;
    background-color: #FFF;
    background-image: url("../images/close_dark.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-border-radius: 2px;
    border-radius: 2px;
    }

.close:hover{
    background-color: #000;
    background-image: url("../images/close.png");
    }

#about{
    padding-bottom: 53px;
    }

a#startnewgame{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 20px 0;
    margin: 15px auto 16px auto;
    color: #000;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    font-size: 28px;
    background-color: #FFF;
    }

a#startnewgame:hover{
    background-color: #AAA;
    }
    
a.button{
    color: #000;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    background-color: #FFF;
    text-decoration: none;
    padding: 3px 5px 2px 5px;
    }
    
a.button:hover{
    background-color: #AAA;
    }
    
#background{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(radial, 50% 50%, 200, 50% 50%, 800, from(#FFF), to(rgb(228,231,237)));
    background: -moz-radial-gradient(50% 50%, circle, #fff 200px, rgb(237,241,248) 400px);
}

.input{
    display: block;
    width: 485px;
    margin-bottom: 8px;
    border: none;
    background-color: #fff;
    color: #000;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 4px;
    font-family: TitilliumRegular, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    }

#mail{
    height: 20px;
    }

#textfield{
    height: 100px;
    }
    
.input_button{
    border: none;
    background-color: #fff;
    color: #000;
    padding: 4px 8px 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    cursor: pointer;
    }
    
.input_button:hover{
    background-color: #AAA;
    }
    
a#tryagain{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 35px auto 16px auto;
    color: #000;
    font-family: TitilliumBold, "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
    font-size: 28px;
    background-color: #FFF;
    }

a#tryagain:hover{
    background-color: #AAA;
    }